<section id="banner">
        <div class="inner">
          <h1>∫NTEGRALE</h1>
          <p>a pour objet  d’intervenir dans tous les métiers de l’entreprise, dans plusieurs secteurs d’activités, par  des approches qui varient selon la nature des missions.</p>
        </div>
        <%= video_tag "banner.mp4" %>
        <!-- <video autoplay loop muted playsinline src="../../assets/images/banner.mp4"></video> -->
     <!--    <video width="320" height="240" controls>
  <source src="banner.mp4" type="video/mp4">
Your browser does not support the video tag.
</video> -->
      <%= video_tag "banner.mp4", autoplay: true, loop: :loop, mute: :mute %>
      </section>

    <!-- Highlights -->
      <section class="wrapper">
        <div class="inner">
          <header class="special">
            <!-- <h2>∫NTEGRALE</h2> -->
            <h3><strong style="color: #0043A4">∫NTEGRALE</strong> fournit à ses clients des recommandations issues de l'expérience, appuyées par des diagnostics des situations dans le but de construire le socle de l'excellence opérationnelle. </h3>
          </header>
          <div class="highlights">
            <section>
              <div class="content">
                <header>
                  <!-- <a href="#" class="icon fa-vcard-o"><span class="label">Icon</span></a> -->
                  <a href="#" class="icon fa-mortar-board" style="color: #0043A4;"><span class="label">Icon</span></a>
                  <h3>Formation professionnelle / continue</h3>
                </header>
                <p>• Mise à niveau des  performances et compétences individuelles et collectives. <br>• Collaboration avec la DCH pour la Gestion prévisionnelle des emplois et des compétences. </p>
              </div>
            </section>
            <section>
              <div class="content">
                <header>
                  <!-- <a href="#" class="icon fa-vcard-o"><span class="label">Icon</span></a> -->
                  <a href="#" class="icon fa-bar-chart" style="color: #0043A4;"><span class="label">Icon</span></a>
                  <h3>Management de la qualité</h3>
                </header>
                <p>Mise en place de systèmes de : <br>•  Management de la qualité<br>• Assurance Qualité <br>• Sécurité Alimentaire (HACCP) <br>• Implantation d'indicateurs de performance <br>• Restructuration organisationnelle. </p>
              </div>
            </section>
            <section>
              <div class="content">
                <header>
                  <!-- <a href="#" class="icon fa-vcard-o"><span class="label">Icon</span></a> -->
                  <a href="#" class="icon fa-wrench" style="color: #0043A4;"><span class="label">Icon</span></a>
                  <h3>Gestion des projets</h3>
                </header>
                <p>• Méthodologie<br>• Audit<br>• Définition des besoins <br>• Accompagnement de changement <br>• Suivi des Réalisations</p>
              </div>
            </section>

            <section>
              <div class="content">
                <header>
                  <!-- <a href="#" class="icon fa-vcard-o"><span class="label">Icon</span></a> -->
                  <a href="#" class="icon fa-eyedropper" style="color: #0043A4;"><span class="label">Icon</span></a>
                  <h3>Gestion de la maintenance</h3>
                </header>
                <p>• Audit<br>• Implantation d'indicateurs de performance<br>• Restructuration organisationnelle.<br>• Optimisation des coûts<br>• Implémentation de la GMAO.<br>• Tableau de bord</p>
              </div>
            </section>

            <section>
              <div class="content">
                <header>
                  <!-- <a href="#" class="icon fa-vcard-o"><span class="label">Icon</span></a> -->
                  <a href="#" class="icon fa-line-chart" style="color: #0043A4;"><span class="label">Icon</span></a>
                  <h3>Supply Chain</h3>
                </header>
                <p>• Amélioration de  la gestion des flux physiques et d'informations. <br>• Optimisant des coûts de conception, d'approvisionnement, de possession des stocks, d'acheminement, de rupture, et des coûts financiers associés.</p>
              </div>
            </section>

            <section>
              <div class="content">
                <header>
                  <!-- <a href="#" class="icon fa-vcard-o"><span class="label">Icon</span></a> -->
                  <a href="#" class="icon fa-users" style="color: #0043A4;"><span class="label">Icon</span></a>
                  <h3>L’expertise : ( Réseau d’experts  CONEXA).</h3>
                </header>
                <p>• Réalisation de missions près les tribunaux, administrations et entreprises. <br>• Mécanique générale, mécanique automobile : matériel roulant et machines industrielle.</p>
              </div>
            </section>
           <!--  <section>
              <div class="content">
                <header>
                  <a href="#" class="icon fa-line-chart"><span class="label">Icon</span></a>
                  <h3>Interdum gravida</h3>
                </header>
                <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
              </div>
            </section>
            <section>
              <div class="content">
                <header>
                  <a href="#" class="icon fa-paper-plane-o"><span class="label">Icon</span></a>
                  <h3>Faucibus consequat</h3>
                </header>
                <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
              </div>
            </section>
            <section>
              <div class="content">
                <header>
                  <a href="#" class="icon fa-qrcode"><span class="label">Icon</span></a>
                  <h3>Accumsan viverra</h3>
                </header>
                <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
              </div>
            </section> -->
          </div>
        </div>
      </section>

    <!-- CTA -->
      <section id="cta" class="wrapper">
        <div class="inner">
          <h2></h2>
          <!-- <p>Nunc lacinia ante nunc ac lobortis. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus ornare mi ut ante amet placerat aliquet. Volutpat eu sed ante lacinia sapien lorem accumsan varius montes viverra nibh in adipiscing. Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing sed feugiat eu faucibus. Integer ac sed amet praesent. Nunc lacinia ante nunc ac gravida.</p> -->

        </div>
      </section>

    <!-- Testimonials -->
      <section class="wrapper corp">
        <div class="inner">
          <header class="special">
            <h2>Nous ont fait confiance :</h2>
            <h3>Sopriam , Renault-Maroc, Renault-Truck,  MAN, Wafasalaf, Vivalis, SAADA, AXA ATLANTA SANAD, Supratours, Sita, Aqua Ionique, Engie, SAMIR, SuperCerame, GNFA</h3>
            <tr>
              <td><%= image_tag "1.png", alt: "alttext" %></td>
              <td><%= image_tag "2.png", alt: "alttext" %></td>
              <td><%= image_tag "3.png", alt: "alttext" %></td>
              <td><%= image_tag "4.png", alt: "alttext" %></td>
              <td><%= image_tag "5.png", alt: "alttext" %></td>
            </tr>
            <tr>
              <td><%= image_tag "6.png", alt: "alttext" %></td>
              <td><%= image_tag "7.png", alt: "alttext" %></td>
              <td><%= image_tag "8.png", alt: "alttext" %></td>
              <td><%= image_tag "9.png", alt: "alttext" %></td>
              <td><%= image_tag "10.png", alt: "alttext" %></td>
            </tr>
            <tr>
              <td><%= image_tag "11.png", alt: "alttext" %></td>
              <td><%= image_tag "12.png", alt: "alttext" %></td>
              <td><%= image_tag "13.png", alt: "alttext" %></td>
              <td><%= image_tag "14.png", alt: "alttext" %></td>
              <td><%= image_tag "15.png", alt: "alttext" %></td>
            </tr>
          </header>
          <div class="testimonials">
            <section>
              <div class="content">
                <blockquote>
                  <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
                </blockquote>
                <div class="author">
                  <div class="image">
                    <%= image_tag "pic01.jpg", alt: "alttext" %>

                  </div>
                  <p class="credit">- <strong style="color: #0043A4">Riad Cherrat</strong> <span>Ingénieur Secrétaire General du conseil national des Experts
</span></p>
                </div>
              </div>
            </section>
            <section>
              <div class="content">
                <blockquote>
                  <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
                </blockquote>
                <div class="author">
                  <div class="image">
                    <%= image_tag "pic03.jpg", alt: "alttext" %>
                  </div>
                  <p class="credit">- <strong style="color: #0043A4">Nabil Moussaid</strong> <span>Consultant, Docteur Ingénieur Traitement des eaux et environnement</span></p>
                </div>
              </div>
            </section>
            <section>
              <div class="content">
                <blockquote>
                  <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
                </blockquote>
                <div class="author">
                  <div class="image">
                    <%= image_tag "pic02.jpg", alt: "alttext" %>
                  </div>
                  <p class="credit">- <strong style="color: #0043A4">Youssef Ouhami</strong> <span>Ingénieur, consultant en génie civil et environnement</span></p>
                </div>
              </div>
            </section>
            <section>
              <div class="content">
                <blockquote>
                  <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
                </blockquote>
                <div class="author">
                  <div class="image">
                    <%= image_tag "pic03.jpg", alt: "alttext" %>
                  </div>
                  <p class="credit">- <strong style="color: #0043A4">Mohammed Zaarati</strong> <span>Expert en environnement
</span></p>
                </div>
              </div>
            </section>
            <section>
              <div class="content">
                <blockquote>
                  <p>Nunc lacinia ante nunc ac lobortis ipsum. Interdum adipiscing gravida odio porttitor sem non mi integer non faucibus.</p>
                </blockquote>
                <div class="author">
                  <div class="image">
                    <%= image_tag "pic03.jpg", alt: "alttext" %>
                  </div>
                  <p class="credit">- <strong style="color: #0043A4">Azzeddine Zahir</strong> <span>Expert en mécanqiue</span></p>
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>
